<div class="description">
	<span>Sebastian Valdivia</span>
	<p>
		Developer. Designer. Creator
	</p>
</div>
<div class="content">
    <div class="_resume element">
        Resume
    </div>
    <div class="_portfolio element">
        Portfolio
    </div>
    <div class="_portfolio element">
        Temp
    </div>
    <div class="_portfolio element">
        Temp
    </div>
    <div class="_about element">
        Temp
    </div>
    <div class="_contact element">
        Contact
    </div>
</div>