<img class ="image"src="img/Personal_landing_background.png">
<div class="content">
    <div class="_resume element">
        Resume
    </div>
    <div class="_portfolio element">
        Portfolio
    </div>
</div>