<div class="element _titleButton"><%= title %></div>
<div class="bar"></div>
<div class="contentBlock">TechnicalSkills</div>
<div class="contentBlock">Experience</div>
<div class="contentBlock">Education</div>